/* You can add global styles to this file, and also import other style files */
body,
p,
ul,
li,
div,
form {
  margin: 0;
  padding: 0;
}

.parent-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
